html {
	min-height: 100%;
}

body {
  background-color: transparent;
  background-image: -moz-linear-gradient(bottom right, #fd7d0d, #ffcc00);
  background-repeat: repeat-x;
}

.odd {
	background-color: #eeeeee;
}

.pagetitle {
	font-size: xx-large;
	padding-left: 32px;
}

.dist16 {
	margin-top: 16px;
}

.lrpadding {
	padding-left: 32px;
	padding-right: 32px;
}

.footer {
	min-height: 24px;
	width: 100%;
	background-color: rgba(255,255,255,0.75);
	border-top: 1px solid black;
	position: fixed;
	bottom: 0px;
	margin: 0px;
	padding: 0px;
}

.header {
	top: 0px;
	margin: 0px;
	padding: 0px;
}

.content {
  height: 100%;
	width: 100%;
	overflow: auto;
	bottom: 0px;
	top: 0px;
	position: relative;
}

.mylabel {
	font-weight: bolder;
}