body {
	background-color: transparent;
	background-image: -moz-linear-gradient(bottom right, #fd7d0d, #ffcc00);
	background-repeat: repeat;
}

.pagetitle {
	font-size: xx-large;
	padding-left: 32px;
}

.dist16 {
	margin-top: 16px;
}

.lrpadding {
	padding-left: 32px;
	padding-right: 32px;
}

.footer {
	min-height: 24px;
	width: 100%;
	background-color: rgba(255,255,255,0.75);
	border-top: 1px solid black;
	position: absolute;
	bottom: 0px;
	margin: 0px;
	padding: 0px;
}

.header {
	min-height: 48px;
	max-height: 48px;
	width: 100%;
	background-color: rgba(255,255,255,0.75);
	border-bottom: 1px solid black;
	top: 0px;
	margin: 0px;
	padding: 0px;
}

.content {
	padding-top: 16px;
	padding-bottom: 16px;
	width: 100%;
	overflow: auto;
	bottom: 24px;
	top: 48px;
	position: absolute;
}
