html {
	min-height: 100%;
}

body {
  background-color: transparent;
  background-image: -moz-linear-gradient(bottom right, #fd7d0d, #ffcc00);
  background-repeat: repeat-x;
}

.odd {
	background-color: #eeeeee;
}

.pagetitle {
	font-size: xx-large;
	padding-left: 32px;
}

.dist16 {
	margin-top: 16px;
}

.lrpadding {
	padding-left: 32px;
	padding-right: 32px;
}

.footer {
	min-height: 24px;
	width: 100%;
	background-color: rgba(255,255,255,0.75);
	border-top: 1px solid black;
	position: fixed;
	bottom: 0px;
	margin: 0px;
	padding: 0px;
}

.header {
	top: 0px;
	margin: 0px;
	padding: 0px;
}

.content {
  height: 100%;
	width: 100%;
	overflow: auto;
	bottom: 0px;
	top: 0px;
	position: relative;
}

.mylabel {
	font-weight: bolder;
}

.width100percent {
	width: 100%;
}

.dangertext {
	color: #c00 !important;
}

.rolebadge {
	padding: 8px 6px 4px 6px !important;
	margin: 4px;
	border: 1px solid black;
	border-radius: 14px !important;
}

.role-subscriber {
	background-image: linear-gradient(to left top, #6a9553, #c3f7c3);
}

.role-registrator {
	background-image: linear-gradient(to left top, rgb(97, 53, 131), rgb(220, 138, 221));
}

.role-businessman {
	background-image: linear-gradient(to left top, rgb(26, 95, 180), rgb(153, 193, 241));
}

.role-admin {
	background-image: linear-gradient(to left top, rgb(165, 29, 45), rgb(246, 97, 81));
}

.role-campadmin {
	background-image: linear-gradient(to left top, rgb(198, 70, 0), rgb(255, 190, 111));
}

.role-registratoradmin {
	background-image: linear-gradient(to left top, rgb(0, 0, 0), rgb(119, 118, 123));
}

