<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:b="http://bootsfaces.net/ui">
<h:body>
	<ui:composition template="/pages/template.xhtml">
		<ui:define name="content">
			<b:panel rendered="#{profileBean.hasRole('registrator')}" title="Korrektur der Anmeldung" collapsible="false">
				<b:form>
					<b:panelGrid colSpans="3,9" size="xs">
						<h:outputText value="Vorname" />
						<b:inputText value="#{registratorModel.bean.forename}" />
						<h:outputText value="Nachname" />
						<b:inputText value="#{registratorModel.bean.surname}" />
						<h:outputText value="Strasse" />
						<b:inputText value="#{registratorModel.bean.street}" />
						<h:outputText value="PLZ" />
						<b:inputText value="#{registratorModel.bean.zip}" />
						<h:outputText value="Ort" />
						<b:inputText value="#{registratorModel.bean.city}" />
						<h:outputText value="Geburtstag" />
						<b:datepicker value="#{registratorModel.bean.birthdate}" />
						<h:outputText value="Geschlecht" />
						<b:selectOneMenu value="#{registratorModel.bean.sex}">
							<f:selectItem itemLabel="weiblich" itemValue="female" />
							<f:selectItem itemLabel="männlich" itemValue="male" />
						</b:selectOneMenu>
						<h:outputText value="Telefon" />
						<b:inputText value="#{registratorModel.bean.phone}" />
						<h:outputText value="E-Mail" />
						<b:inputText value="#{registratorModel.bean.email}" />
						<h:outputText value="Rolle" />
						<h:outputText value="#{registratorModel.bean.camproleGerman}" />
						<h:outputText value="Freizeit" />
						<h:outputText value="#{registratorModel.bean.campname}" />
						<h:outputText value="Bemerkungen" />
						<b:inputTextarea value="#{registratorModel.bean.comment}" />
						<h:outputText value="Anmerkungen" />
						<h:outputText value="#{registratorModel.bean.note}" />
						<h:outputText value="überwiesener Betrag in €" />
						<b:inputText value="#{registratorModel.bean.paid}" mask="9{1,4}[.99]" />
						<b:commandButton action="#{registratorController.toMain}" value="abbrechen" imediate="true" />
						<b:commandButton action="#{registratorController.doUpdate}" value="korrigieren" look="warning" />
					</b:panelGrid>
				</b:form>
			</b:panel>
		</ui:define>
	</ui:composition>
</h:body>
</html>