<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:b="http://bootsfaces.net/ui">
<h:body>
	<ui:composition template="/pages/template.xhtml">
		<ui:define name="content">
			<b:panel rendered="#{profileBean.hasRole('registrator')}" title="Bestätigung" collapsible="false">
				<b:alert severity="info" closable="true">
					<h:outputText value="Der RSS-Feed des Registrators lautet: " />
					<b:navLink href="https://www.onkelwernerfreizeiten.de/camporganizer/rss.jsf?recipientCode=registrator" target="#"
						value="https://www.onkelwernerfreizeiten.de/camporganizer/rss.jsf?recipientCode=registrator" iconAwesome="rss" />
				</b:alert>
				<b:form>
					<b:dataTable value="#{registratorModel.list}" var="l" lang="de">
						<b:dataTableColumn label="Bestätigung">
							<div>
								<b:label text="bestätigt" severity="success" rendered="#{l.accept}" />
								<b:label text="abgelehnt" severity="warning" rendered="#{l.accept == false}" />
							</div>
							<b:buttonGroup>
								<b:commandButton action="#{registratorController.doAccept(l)}" value="" title="bestätigen" look="success"
									iconAwesome="check" rendered="#{l.accept != true}" />
								<!-- null or false -->
								<b:commandButton action="#{registratorController.doReject(l)}" value="" title="ablehnen" look="warning"
									iconAwesome="frown-o" rendered="#{l.accept == null}" />
								<b:dropButton value=" x " title="löschen" rendered="#{l.accept != null}">
									<b:commandButton action="#{registratorController.doDelete(l.pk)}" value="ja, unwiederbringlich löschen" look="danger" />
									<b:commandButton action="#{registratorController.doReset(l)}" value="Bestätigung zurücknehmen (Teilnehmer wird informiert)" look="warning"  rendered="#{l.accept}" />
								</b:dropButton>
							</b:buttonGroup>
						</b:dataTableColumn>
						<b:dataTableColumn label="Vorname">
							<h:outputText value="#{l.forename}" />
						</b:dataTableColumn>
						<b:dataTableColumn label="Nachname">
							<h:outputText value="#{l.surname}" />
						</b:dataTableColumn>
						<b:dataTableColumn label="Adresse/Kontakt">
							<h:outputText value="#{l.street}, #{l.zip} #{l.city}" /><br />
							<h:outputText value="#{l.phone}" /><br />
							<a href="mailto:#{l.email}"><h:outputText value="#{l.email}" /></a>
						</b:dataTableColumn>
						<b:dataTableColumn label="Geburtstag" dataType="date" dataOrder="#{l.birthdate}">
							<h:outputText value="#{l.birthdate}">
								<f:convertDateTime pattern="dd.MM.yyyy" />
							</h:outputText>
						</b:dataTableColumn>
						<b:dataTableColumn label="Rolle">
						  <h:outputText value="#{l.sexGerman}" /><br />
							<h:outputText value="#{l.camproleGerman}" />
						</b:dataTableColumn>
						<b:dataTableColumn label="Freizeit">
							<h:outputText value="#{l.campname}" />
						</b:dataTableColumn>
						<b:dataTableColumn label="Bemerkungen">
							<h:outputText value="#{l.note}" />
							<h:dataTable value="#{l.documents}" var="d">
								<h:column>
									<b:commandButton action="#{registratorController.doDownloadDocument(d)}" value="#{d.name}" iconAwesome="download" />
                  <b:dropButton value="" look="danger" iconAwesome="trash-o">
                    <b:commandButton action="#{registratorController.doDeleteDocument(d)}" value="Dokument endgültig löschen" iconAwesome="trash-o" look="link"/>
                  </b:dropButton>
								</h:column>
							</h:dataTable>
						</b:dataTableColumn>
						<b:dataTableColumn label="Erstellt" dataType="date" dataOrder="#{l.created}">
						  <h:outputText value="#{l.created}">
						    <f:convertDateTime pattern="dd.MM.yyyy HH:mm" />
						  </h:outputText>
						</b:dataTableColumn>
						<b:dataTableColumn label="">
							<b:commandButton action="#{registratorController.toEdit(l)}" value="" title="korrigieren" look="warning"
								iconAwesome="pencil" />
						</b:dataTableColumn>
					</b:dataTable>
				</b:form>
				<b:form>
					<b:panelGrid colSpans="9,3" size="sm">
						<b:selectOneMenu value="#{registratorModel.campPk}" styleClass="filterdropdown" required="true"
							requiredMessage="bitte eine Freizeit zum Herunterladen auswählen">
							<f:selectItem itemValue="" itemLabel="--- bitte wählen ---" />
							<f:selectItems value="#{registratorModel.camps}" var="c" itemValue="#{c.pk}" itemLabel="#{c.fullCampname}" />
						</b:selectOneMenu>
						<b:commandButton action="#{registratorController.doDownloadCampAsCsv}" value="herunterladen" iconAwesome="download" />
					</b:panelGrid>
				</b:form>
			</b:panel>
		</ui:define>
	</ui:composition>
</h:body>
</html>