<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:b="http://bootsfaces.net/ui">
<h:body>
	<ui:composition template="/pages/template.xhtml">
		<ui:define name="content">
			<b:panel title="Hier kannst Du Deine eingescannten oder abfotografierten Bestätigungen hochladen." rendered="#{profileBean.hasRole('subscriber')}" collapsed="true">
				<b:form enctype="multipart/form-data">
					<b:panelGrid colSpans="2,10" size="sm">
						<h:outputText value="Anmeldung" />
						<b:selectOneMenu value="#{subscriberModel.persondocument.fkPerson}" required="true" requiredMessage="Bitte die Anmeldung angeben.">
							<f:selectItem itemValue="" itemLabel="--- bitte wählen ---" />
							<f:selectItems value="#{subscriberModel.camps}" var="c" itemValue="#{c.pkPerson}" itemLabel="#{c.fullname} in #{c.campname} #{c.camptime}" noSelectionValue="#{c.accept}" />
						</b:selectOneMenu>
						<h:outputText value="Name" />
						<b:inputText value="#{subscriberModel.persondocument.name}" placeholder="Bitte den Namen der Datei eingeben, z.B. unterschriebene Bestätigung o.ä." required="true"
							requiredMessage="Bitte einen Namen angeben." />
						<h:outputText value="Foto, PDF" />
						<h:inputFile value="#{subscriberModel.persondocument.uploadfile}" required="true" requiredMessage="Bitte ein Foto oder eine PDF angeben." style="padding-bottom: 16px" />
						<h:outputText value="Dateityp" />
						<b:selectOneMenu value="#{subscriberModel.persondocument.filetype}" required="true" requiredMessage="Bitte den Dateityp auswählen.">
							<f:selectItem itemValue="" itemLabel="--- bitte wählen ---" />
							<f:selectItems value="#{subscriberModel.enumFiletypes}" var="e" itemValue="#{e}" itemLabel="#{e.literal}" />
						</b:selectOneMenu>
						<h:outputText value="" />
						<b:commandButton action="#{subscriberController.doAddUserDoc}" value="hochladen" look="primary" />
					</b:panelGrid>
				</b:form>
			</b:panel>
			<b:panel rendered="#{profileBean.hasRole('subscriber')}" title="bisherige Buchungen" collapsible="false">
				<b:form>
					<b:alert severity="info" closable="true">
					Für alle Freizeiten gelten diese <a href="http://www.crg-reisen.de/agbs/" target="_blank">AGB</a>
					</b:alert>
					<h:outputText value="Folgende Anmeldungen hast Du durchgeführt:" />
					<h:dataTable value="#{subscriberModel.camps}" var="c" rowClasses="odd,even" styleClass="width100percent">
						<h:column>
							<b:panelGrid colSpans="2,10" size="sm">
								<h:outputText value="Teilnehmer" class="mylabel" />
								<h:outputText value="#{c.fullname}" />
								<h:outputText value="Freizeit" class="mylabel" />
								<h:outputText value="#{c.campname} #{c.camptime}" />
								<h:outputText value="Ort" class="mylabel" />
								<ui:fragment>
									<a href="#{c.url}" target="_blank"> <h:outputText value="#{c.locationname}" /></a>
								</ui:fragment>
								<h:outputText value="Einverständnis für Fotos" class="mylabel" />
								<b:switch value="#{c.consentCatalogPhoto}" label="Fotos von mir dürfen im Katalog Urlaub mit Gottes Wort verwendet werden" offText="Nein" offColor="danger" onText="Ja" onColor="success"
									onchange="ajax:subscriberController.doSetConsent(c)" update="@form" />
								<h:outputText value="Dokumente" class="mylabel" />
								<h:panelGrid columns="1">
									<b:alert severity="info" closable="false" rendered="#{!c.accept}">
									  Die Bestätigungsdokumente sind erst nach der offiziellen Bestätigung einsehbar.
									</b:alert>
									<b:alert severity="info" closable="true" rendered="#{c.accept}">
										<strong>Dir wurde ein Freizeitplatz reserviert.</strong>
										Bitte fülle die hier downloadbaren Formulare vollständig aus und schicke sie zügig an uns zurück oder lade sie als eingescanntes oder abfotografiertes Bild über das oben stehende Formular hoch.
                   	</b:alert>
									<h:dataTable value="#{c.documents}" var="d" rendered="#{c.accept}">
										<h:column>
											<b:commandButton action="#{subscriberController.doDownloadDocument(d)}" value="#{d.name}" iconAwesome="download" />
										</h:column>
									</h:dataTable>
									<h:dataTable value="#{c.persondocuments}" var="d">
										<h:column>
											<b:buttonGroup>
												<b:commandButton action="#{subscriberController.doDownloadDocument(d)}" value="#{d.name}" iconAwesome="download" />
												<b:dropButton value="x" iconAwesome="trash-o" look="danger">
													<b:commandButton action="#{subscriberController.doDeleteUserDoc(d)}" value="ja, jetzt unwiederbringlich löschen" look="danger" />
												</b:dropButton>
											</b:buttonGroup>
										</h:column>
									</h:dataTable>
								</h:panelGrid>
								<h:outputText value="Storno" class="mylabel" />
								<ui:fragment>
									<h:outputText value="nur schriftlich" rendered="#{c.accept}" />
									<b:buttonGroup rendered="#{!c.accept}">
										<b:commandButton action="#{subscriberController.toEdit(c)}" value="bearbeiten" look="warning" iconAwesome="pencil" />
										<b:dropButton value="stornieren" iconAwesome="trash-o" look="danger">
											<b:commandButton action="#{subscriberController.doDelete(c)}" value="ja, jetzt unwiederbringlich stornieren" look="danger" />
										</b:dropButton>
									</b:buttonGroup>
								</ui:fragment>
							</b:panelGrid>
						</h:column>
					</h:dataTable>
				</b:form>
			</b:panel>
		</ui:define>
	</ui:composition>
</h:body>
</html>