<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:b="http://bootsfaces.net/ui">
<h:body>
	<ui:composition template="/pages/template.xhtml">
		<ui:define name="content">
			<b:panel rendered="#{profileBean.hasRole('admin')}" title="Administration" collapsible="false">
			  <b:alert severity="info" closable="true">
          <h:outputText value="Der RSS-Feed des Administrators lautet: " />
          <b:navLink href="https://www.onkelwernerfreizeiten.de/camporganizer/rss.jsf?recipientCode=admin" target="#" value="https://www.onkelwernerfreizeiten.de/camporganizer/rss.jsf?recipientCode=admin" iconAwesome="rss" />
        </b:alert>
				<b:tabView activeIndex="#{adminModel.activeIndex}">
					<b:tab title="Rollen verwalten" styleClass="dist16">
						<b:form>
							<b:dataTable value="#{adminModel.profileRoles}" var="l" lang="de">
								<b:dataTableColumn label="Nutzer" dataOrder="#{l.user.surname}">
									<h:outputText value="#{l.user.fullname}" />
									<f:facet name="footer">
										<b:selectOneMenu value="#{adminModel.profileRole.user}" select2="true">
											<f:selectItems value="#{adminModel.users}" var="u" itemLabel="#{u.fullname}" itemValue="#{u}" />
										</b:selectOneMenu>
									</f:facet>
								</b:dataTableColumn>
								<b:dataTableColumn label="Rollen">
									<ui:repeat value="#{l.roles}" var="r">
										<b:badge value="#{r}" styleClass="rolebadge role-#{r}" />
									</ui:repeat>
								</b:dataTableColumn>
								<b:dataTableColumn label="Änderungen">
									<b:dropButton value="Rollen ändern" look="warning">
										<ui:repeat value="#{l.roles}" var="r">
											<b:commandButton action="#{adminController.doDelete(l, r)}" value="#{r} entziehen" iconAwesome="trash-o" look="link" styleClass="dangertext" />
										</ui:repeat>
										<ui:repeat value="#{l.notRoles}" var="r">
											<b:commandButton action="#{adminController.doInsert(l, r)}" value="#{r} erlauben" iconAwesome="plus" look="link" />
										</ui:repeat>
									</b:dropButton>
									<f:facet name="footer">
										<b:dropButton value="Rolle anlegen" look="success" drop="up">
											<ui:repeat value="#{adminController.possibleRoles}" var="r">
												<b:commandButton action="#{adminController.doInsert(r)}" value="#{r} erlauben" iconAwesome="plus" look="link" />
											</ui:repeat>
										</b:dropButton>
									</f:facet>
								</b:dataTableColumn>
							</b:dataTable>
						</b:form>
					</b:tab>
					<b:tab title="Logins verwalten" styleClass="dist16">
						<b:form>
							<b:dataTable value="#{adminModel.users}" var="u" lang="de">
								<b:dataTableColumn label="Name">
									<h:outputText value="#{u.fullname}" />
								</b:dataTableColumn>
								<b:dataTableColumn label="Login">
									<h:outputText value="#{u.username}" />
								</b:dataTableColumn>
                <b:dataTableColumn label="Ablaufdatum">
                  <b:dateTimePicker value="#{u.duedate}" format="DD.MM.YYYY" locale="de" style="#{u.outdated ? 'border: 2px solid orange; border-radius: 6px' : ''}" />
                  <b:commandButton action="#{adminController.doResetDuedate(u)}" value="" look="#{u.outdated ? 'warning' : ''}" iconAwesome="check" tooltip="neues Datum übernehmen" />
                </b:dataTableColumn>
								<b:dataTableColumn label="Operationen">
									<b:buttonGroup>
										<b:commandButton action="#{adminController.doResetUserPassword(u)}" iconAwesome="flash" value="Passwort zurücksetzen"
											look="warning" />
										<b:dropButton value="löschen" iconAwesome="trash-o" look="danger">
											<b:commandButton action="#{adminController.doDeleteUser(u)}" value="ja, unwiederbringlich löschen" look="danger" />
										</b:dropButton>
									</b:buttonGroup>
								</b:dataTableColumn>
							</b:dataTable>
						</b:form>
					</b:tab>
          <b:tab title="RSS" styleClass="dist16">
            <b:tabView activeIndex="#{adminModel.activeIndexRss}">
              <b:tab title="Tabelle">
                <b:form>
                  <b:dataTable value="#{adminModel.rssList}" var="d" lang="de">
                    <b:dataTableColumn label="ID">
                      <b:commandButton action="#{adminController.toEditRss(d.pk)}" value="#{d.pk}" look="link" />
                    </b:dataTableColumn>
                    <b:dataTableColumn label="Empfänger">
                      <b:commandButton action="#{adminController.toEditRss(d.pk)}" value="#{d.recipient}" look="link" />
                    </b:dataTableColumn>
                    <b:dataTableColumn label="Inhalt">
                      <b:commandButton action="#{adminController.toEditRss(d.pk)}" value="#{d.message80}" look="link" />
                    </b:dataTableColumn>
                    <b:dataTableColumn label="Datum" dataType="date">
                      <b:commandButton action="#{adminController.toEditRss(d.pk)}" value="#{d.pubdate}" look="link" />
                    </b:dataTableColumn>
                  </b:dataTable>
                </b:form>
              </b:tab>
              <b:tab title="Element">
                <b:form>
                  <b:panelGrid colSpans="3,9" size="xs">
                    <h:outputText value="ID = #{adminModel.rss.pk}" />
                    <b:commandButton action="#{adminController.doResetRss}" value="Felder leeren" />
                    <h:outputText value="Empfänger" />
                    <h:outputText value="#{adminModel.rss.recipient}" />
                    <h:outputText value="Inhalt" />
                    <b:inputTextarea value="#{adminModel.rss.message}" />
                    <h:outputText value="Datum" />
                    <h:outputText value="#{adminModel.rss.pubdate}" />
                    <b:dropButton value="löschen" iconAwesome="trash-o" look="danger">
                      <b:commandButton action="#{adminController.doDeleteRss}" value="ja, unwiederbringlich löschen" look="danger" />
                    </b:dropButton>
                    <b:commandButton action="#{adminController.doUpdateRss}" value="Übernehmen" look="primary" />
                  </b:panelGrid>
                </b:form>
              </b:tab>
            </b:tabView>
          </b:tab>
				</b:tabView>
			</b:panel>
		</ui:define>
	</ui:composition>
</h:body>
</html>