<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:b="http://bootsfaces.net/ui">
<h:body>
	<ui:composition template="/pages/template.xhtml">
		<ui:define name="navigation">
			<b:navCommandLink action="#{bookController.toLogin}" value="abbrechen" rendered="#{profileBean.isEmpty}" />
		</ui:define>
		<ui:define name="content">
			<b:accordion expandedPanels="hint">
				<b:panel id="hint" title="Hinweis zur Online-Anmeldung" collapsible="true" look="info">
					<ui:include src="/resources/html/fullack.html" />
				</b:panel>
				<b:panel id="known" title="bekannte Person anmelden" rendered="#{bookModel.hasPersons}">
					<b:form>
						<b:panelGrid colSpans="3,9" size="xs">
							<h:outputText value="Person auswählen" />
							<b:selectOneMenu value="#{bookModel.wellknownBean}" required="true" requiredMessage="bitte Person auswählen">
								<f:selectItems value="#{bookModel.persons}" var="p" itemLabel="#{p.fullname}, #{p.address}" itemValue="#{p}" />
							</b:selectOneMenu>
							<h:outputText value="Rolle" />
							<b:selectOneMenu value="#{bookModel.wellknownBean.camprole}" required="true" requiredMessage="bitte Rolle auswählen">
								<f:selectItem itemValue="" itemLabel="--- bitte wählen ---" />
								<f:selectItem itemValue="student" itemLabel="Teilnehmer" />
								<f:selectItem itemValue="teacher" itemLabel="Mitarbeiter" />
								<f:selectItem itemValue="director" itemLabel="Leiter" />
								<f:selectItem itemValue="feeder" itemLabel="Küche" />
							</b:selectOneMenu>
							<h:outputText value="Freizeit" />
							<b:selectOneMenu value="#{bookModel.wellknownBean.fkCamp}" required="true" requiredMessage="bitte Freizeit auswählen">
								<f:selectItems value="#{bookModel.camps}" var="c" itemValue="#{c.pk}" itemLabel="#{c.name} #{c.year}" />
							</b:selectOneMenu>
							<h:outputText value="Kommentare" />
							<b:inputTextarea value="#{bookModel.wellknownBean.comment}" placeholder="Zimmerwünsche (können wir aber nicht immer erfüllen), besondere Informationen o.ä. bei Bedarf" />
							<h:outputText value="" />
							<b:commandButton action="#{bookController.doBookWellKnown}" value="anmelden" look="primary" />
						</b:panelGrid>
					</b:form>
				</b:panel>
				<b:panel id="new" title="neue Person anmelden">
					<b:form>
						<b:panelGrid colSpans="3,9" size="xs">
							<h:outputText value="Vorname" />
							<b:inputText value="#{personBean.forename}" placeholder="Bitte Vornamen eingeben" />
							<h:outputText value="Nachname" />
							<b:inputText value="#{personBean.surname}" placeholder="Bitte Nachnamen eingeben" />
							<h:outputText value="Straße" />
							<b:inputText value="#{personBean.street}" placeholder="Bitte Straße der Anschrift eingeben" />
							<h:outputText value="PLZ" />
							<b:inputText value="#{personBean.zip}" placeholder="Bitte Postleitzahl der Anschrift eingeben" />
							<h:outputText value="Ort" />
							<b:inputText value="#{personBean.city}" placeholder="Bitte den Ort der Anschrift eingeben" />
							<h:outputText value="Telefon" />
							<b:inputText value="#{personBean.phone}" placeholder="Bitte eine Telefonnummer eingeben" />
							<h:outputText value="Geburtsdatum" />
							<b:dateTimePicker value="#{personBean.birthdate}" format="DD.MM.YYYY" locale="de" placeholder="Bitte das Geburtsdatum des Teilnehmers eingeben" />
							<h:outputText value="Geschlecht" />
							<b:selectOneMenu value="#{personBean.sex}">
								<f:selectItem itemLabel="weiblich" itemValue="female" />
								<f:selectItem itemLabel="männlich" itemValue="male" />
							</b:selectOneMenu>
							<h:outputText value="E-Mail" />
							<b:inputText value="#{personBean.email}" placeholder="Bitte die E-Mail-Adresse angeben" />
							<h:outputText value="Rolle" />
							<b:selectOneMenu value="#{personBean.camprole}">
								<f:selectItem itemValue="" itemLabel="--- bitte wählen ---" />
								<f:selectItem itemValue="student" itemLabel="Teilnehmer" />
								<f:selectItem itemValue="teacher" itemLabel="Mitarbeiter" />
								<f:selectItem itemValue="director" itemLabel="Leiter" />
								<f:selectItem itemValue="feeder" itemLabel="Küche" />
							</b:selectOneMenu>
							<h:outputText value="Freizeit" />
							<b:selectOneMenu value="#{personBean.fkCamp}">
								<f:selectItems value="#{bookModel.camps}" var="c" itemValue="#{c.pk}" itemLabel="#{c.name} #{c.year}" />
							</b:selectOneMenu>
							<h:outputText value="Kommentare" />
							<b:inputTextarea value="#{personBean.comment}" placeholder="Zimmerwünsche (können wir aber nicht immer erfüllen), besondere Informationen o.ä. bei Bedarf" />
						</b:panelGrid>
						<b:panelGrid colSpans="3,9" size="xs" rendered="#{profileBean.isEmpty}">
							<h:outputText value="optional" />
							<h:outputText value="Wenn Du Dich registrierst, kannst Du die Bestätigung nach Freischaltung selbst herunterladen." />
							<h:outputText value="Login" />
							<b:inputText value="#{profileBean.username}" />
							<h:outputText value="Passwort" />
							<b:inputSecret value="#{profileBean.password}" />
							<h:outputText value="Passwort (wiederholen)" />
							<b:inputSecret value="#{profileBean.passwordAgain}" />
						</b:panelGrid>
						<b:panelGrid colSpans="3,9" size="xs">
							<h:outputText value="" />
							<b:commandButton action="#{bookController.doBook}" value="anmelden" look="primary" />
						</b:panelGrid>
					</b:form>
				</b:panel>
			</b:accordion>
		</ui:define>
	</ui:composition>
</h:body>
</html>