<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:b="http://bootsfaces.net/ui">
<h:body>
	<ui:composition template="/pages/template.xhtml">
		<ui:define name="navigation">
			<b:navLink href="https://www.onkelwernerfreizeiten.de/camporganizer" target="#" value="Das Buchungsportal des Onkel Werner Freizeiten e.V." />
		</ui:define>
		<ui:define name="content">
		  <b:alert severity="warning" value="Die Datenbank wird gerade gewartet. Bitte versuchen Sie es ein andermal wieder." rendered="#{!bookModel.databaseIsActive}" />
			<b:form rendered="#{bookModel.databaseIsActive}">
				<b:panel title="Login">
					<b:panelGrid colSpans="3,9" size="xs">
						<h:outputText value="Name" />
						<b:inputText value="#{profileBean.username}" placeholder="username" />
						<h:outputText value="Passwort" />
						<b:inputSecret value="#{profileBean.password}" />
						<h:outputText value="" />
						<b:buttonGroup>
							<b:commandButton action="#{profileController.doLogin}" value="anmelden" look="primary" />
							<b:commandButton action="#{profileController.toRegister}" value="registrieren" immediate="true" />
						</b:buttonGroup>
					</b:panelGrid>
				</b:panel>
				<h1>Unsere Freizeiten</h1>
				<b:alert severity="info">
				  Teilnehmern von Freizeiten, deren Durchführung durch die Corona-Pandemie gefährdet sind, 
				  erhalten zeitnah entsprechende Informationen. Jede angemeldete Person sollte per E-Mail 
				  mindestens eine Woche vor Beginn der Freizeit informiert worden sein, ob die Freizeit 
				  stattfinden kann.
				</b:alert>
				<ui:repeat value="#{bookModel.getCampsFromDb(facesContext)}" var="c">
					<b:panel title="#{c.name} #{c.year} in #{c.locationName}" collapsed="true">
						<b:panelGrid colSpans="3,9" size="xs">
							<h:outputText value="Ort" />
							<ui:fragment>
								<a href="#{c.url}" target="_blank"><h:outputText value="#{c.locationName}" /></a>
							</ui:fragment>
							<h:outputText value="Jungen und Mädchen" />
							<h:outputText value="#{c.minAge} - #{c.maxAge} Jahre" />
							<h:outputText value="Zeit" />
							<h:outputText value="#{c.campTime}" />
							<h:outputText value="Preis" />
							<ui:fragment>
								<p>
									<h:outputText value="#{c.price}" escape="false" />
								</p>
							</ui:fragment>
							<h:outputText value="Ferien" />
							<ui:fragment>
								<p>
									<h:outputText value="#{c.countries}" escape="false" />
								</p>
						  </ui:fragment>
							<h:outputText value="" />
							<b:commandButton action="#{bookController.toBook(c.pk)}" value="jetzt anmelden" look="primary" immediate="true" />
						</b:panelGrid>
					</b:panel>
				</ui:repeat>
			</b:form>
		</ui:define>
	</ui:composition>
</h:body>
</html>