<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:b="http://bootsfaces.net/ui">
<h:body>
	<ui:composition template="/pages/template.xhtml">
		<ui:define name="content">
			<b:panel rendered="#{profileBean.hasRole('businessman')}"
				title="Abrechnung" collapsible="false">
				<b:tabView activeIndex="#{salesModel.activeIndex}">
					<b:tab title="Rechung erfassen" styleClass="dist16">
						<b:alert severity="info" closable="true"
							rendered="#{salesModel.bean.pk != null}">
							<h:outputText value="ID ist #{salesModel.bean.pk}" />
						</b:alert>
						<b:form inline="true" enctype="multipart/form-data">
							<b:panelGrid colSpans="3,9" size="xs">
								<h:outputText value="Einkauf bei" />
								<b:inputText value="#{salesModel.bean.trader}"
									placeholder="Bitte Laden/Verkäufer eintragen" typeahead="true"
									typeaheadValues="#{salesModel.bean.traders}" />
								<h:outputText value="Freizeit" />
								<b:selectOneMenu value="#{salesModel.bean.fkCamp}"
									styleClass="filterdropdown">
									<f:selectItems value="#{salesModel.bean.unlockedCamps}" var="i"
										itemValue="#{i.pk}" itemLabel="#{i.name} #{i.year}" />
								</b:selectOneMenu>
								<h:outputText value="Name" />
								<b:inputText value="#{salesModel.bean.provider}"
									placeholder="Bitte Namen des Einkaufenden eintragen"
									typeahead="true" typeaheadValues="#{salesModel.bean.providers}" />
								<h:outputText value="Betrag" />
								<b:inputText value="#{salesModel.bean.cash}" placeholder="€0.00">
									<f:convertNumber currencyCode="EUR" type="currency" />
								</b:inputText>
								<h:outputText value="Bestandteile" />
								<b:inputText value="#{salesModel.bean.incredients}"
									placeholder="Bitte Bestandteile auflisten" tags="true"
									style="width: 100%" />
								<h:outputText value="Rechnungsdatum" />
								<b:dateTimePicker value="#{salesModel.bean.buydate}"
									style="padding-bottom: 16px" />
								<h:outputText value="Belegnummer" />
								<b:inputText value="#{salesModel.bean.recipeNumber}"
									placeholder="Bitte de Rechnungsnummer eintragen" />
								<h:outputText value="Foto von Kassenzettel" />
								<h:inputFile value="#{salesModel.bean.file}"
									placeholder="Bitte Kassenzettelfoto hochladen"
									style="padding-bottom: 16px" />
								<h:outputText value="Buchungstext" />
								<b:inputTextarea value="#{salesModel.bean.recipeNote}"
									placeholder="Bemerkungen" />
								<b:commandButton action="#{salesController.toProfile}"
									value="abbrechen" immediate="true" />
								<b:commandButton action="#{salesController.doUpsert}"
									value="übernehmen" look="primary" />
							</b:panelGrid>
						</b:form>
					</b:tab>
					<b:tab title="Rechnungen anzeigen" styleClass="dist16">
						<b:form>
							<b:dataTable value="#{salesModel.list}" var="l" lang="de"
								csv="true" pdf="true">
								<b:dataTableColumn label="Einkauf bei">
									<h:outputText value="#{l.trader}" />
								</b:dataTableColumn>
								<b:dataTableColumn label="Freizeit">
									<h:outputText
										value="#{salesModel.bean.getCampNameAndYear(l.fkCamp)}" />
								</b:dataTableColumn>
								<b:dataTableColumn label="Name">
									<h:outputText value="#{l.provider}" />
								</b:dataTableColumn>
								<b:dataTableColumn label="Betrag">
									<h:outputText value="#{l.cash}">
										<f:convertNumber currencyCode="EUR" type="currency" />
									</h:outputText>
								</b:dataTableColumn>
								<b:dataTableColumn label="Bestandteile">
									<h:outputText value="#{l.incredients}" />
								</b:dataTableColumn>
								<b:dataTableColumn label="Rechnungsdatum">
									<h:outputText value="#{l.buydate}" />
								</b:dataTableColumn>
								<b:dataTableColumn label="Belegnummer">
									<h:outputText value="#{l.recipeNumber}" />
								</b:dataTableColumn>
								<b:dataTableColumn label="Foto von Kassenzettel">
									<b:commandButton action="#{salesController.doDownload(l)}"
										value="Download" iconAwesome="download"
										rendered="#{l.recipeshotSize gt 0}" />
									<h:outputText value="kein Foto"
										rendered="#{l.recipeshotSize le 0}" />
								</b:dataTableColumn>
								<b:dataTableColumn label="Buchungstext">
									<h:outputText value="#{l.recipeNote}" />
								</b:dataTableColumn>
								<b:dataTableColumn label="Aktionen">
									<b:buttonGroup rendered="#{!l.lockSales}">
										<b:commandButton action="#{salesController.toEdit(l)}"
											value="bearbeiten" iconAwesome="pencil" />
										<b:dropButton value="löschen" iconAwesome="trash-o"
											look="danger">
											<b:commandButton action="#{salesController.doDelete(l)}"
												value="ja, unwiederbringlich löschen" look="danger" />
										</b:dropButton>
									</b:buttonGroup>
									<h:outputText value="final" rendered="#{l.lockSales}" />
								</b:dataTableColumn>
							</b:dataTable>
						</b:form>
					</b:tab>
					<b:tab title="Zusammenfassung" styleClass="dist16">
						<b:alert severity="info"
							value="negative Beträge entsprechen Verlust, positive Beträge bedeuten Gewinne"
							closable="true" />
						<b:tabView>
							<b:tab title="Jahresübersicht">
								<b:dataTable value="#{salesModel.yearly}" var="y">
									<b:dataTableColumn label="Jahr" value="#{y.year}" />
									<b:dataTableColumn label="aktueller Kontostand">
										<h:outputText value="#{y.budget}">
											<f:convertNumber currencyCode="EUR" type="currency" />
										</h:outputText>
									</b:dataTableColumn>
								</b:dataTable>
							</b:tab>
							<b:tab title="Freizeitübersicht">
								<b:dataTable value="#{salesModel.budget}" var="b">
									<b:dataTableColumn label="Freizeit" value="#{b.camp}" />
									<b:dataTableColumn label="Jahr" value="#{b.year}" />
									<b:dataTableColumn label="aktueller Kontostand">
										<h:outputText value="#{b.budget}">
											<f:convertNumber currencyCode="EUR" type="currency" />
										</h:outputText>
									</b:dataTableColumn>
								</b:dataTable>
							</b:tab>
						</b:tabView>
					</b:tab>
				</b:tabView>
			</b:panel>
		</ui:define>
	</ui:composition>
</h:body>
</html>