<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
  xmlns:b="http://bootsfaces.net/ui" xmlns:ui="http://java.sun.com/jsf/facelets">
<ui:composition>
  <b:tabView activeIndex="#{campadminModel.activeIndexCamp}">
    <b:tab title="Tabelle">
      <b:form>
        <b:dataTable value="#{campadminModel.camps}" var="c" lang="de" csv="true" pdf="true">
          <b:dataTableColumn label="Name">
            <b:commandButton action="#{campadminController.toEditCamp(c.pk)}" value="#{c.name}" look="link" />
          </b:dataTableColumn>
          <b:dataTableColumn label="Zeit" dataType="date" dataOrder="#{c.arrive}">
            <b:commandButton action="#{campadminController.toEditCamp(c.pk)}" value="#{c.campTime}" look="link" />
          </b:dataTableColumn>
          <b:dataTableColumn label="in">
            <b:commandButton action="#{campadminController.toEditCamp(c.pk)}" value="#{c.locationName}" look="link" />
          </b:dataTableColumn>
          <b:dataTableColumn label="Bestätigung">
            <b:commandButton action="#{campadminController.doDownloadDocument(c)}" value="" iconAwesome="download"
              rendered="#{c.fkDocument != null}" />
          </b:dataTableColumn>
          <b:dataTableColumn label="Dokumente">
            <b:commandButton action="#{campadminController.toEditCampDocuments(c.pk)}" value="verwalten" iconAwesome="doc" />
          </b:dataTableColumn>
          <b:dataTableColumn label="Anmeldungen">
            <h:outputText value="#{c.bookings}" />
          </b:dataTableColumn>
        </b:dataTable>
      </b:form>
    </b:tab>
    <b:tab title="Element">
      <b:form>
        <b:panelGrid colSpans="3,9" size="xs">
          <h:outputText value="ID = #{campadminModel.camp.pk}" />
          <b:commandButton action="#{campadminController.doResetCamp}" value="Felder leeren" />
          <h:outputText value="Name" />
          <b:inputText value="#{campadminModel.camp.name}" />
          <h:outputText value="von" />
          <b:datepicker value="#{campadminModel.camp.arrive}" />
          <h:outputText value="bis" />
          <b:datepicker value="#{campadminModel.camp.depart}" />
          <h:outputText value="Freizeitheim" />
          <b:selectOneMenu value="#{campadminModel.camp.fkLocation}">
            <f:selectItem itemValue="" itemLabel="--- bitte auswählen ---" />
            <f:selectItems value="#{campadminModel.locations}" var="l" itemValue="#{l.pk}" itemLabel="#{l.name}" />
          </b:selectOneMenu>
          <h:outputText value="Mindestalter" />
          <b:inputText value="#{campadminModel.camp.minAge}">
            <f:convertNumber integerOnly="true" />
          </b:inputText>
          <h:outputText value="Maximalalter" />
          <b:inputText value="#{campadminModel.camp.maxAge}">
            <f:convertNumber integerOnly="true" />
          </b:inputText>
          <h:outputText value="Preis" />
          <b:inputTextarea value="#{campadminModel.camp.price}" />
          <h:outputText value="Ferien in" />
          <b:inputText value="#{campadminModel.camp.countries}" tags="true" typeahead="true"
            typeaheadValues="#{campadminModel.possibleCountries}" />
          <h:outputText value="Bestätigung" />
          <b:selectOneMenu value="#{campadminModel.camp.fkDocument}" styleClass="filterdropdown">
            <f:selectItem itemValue="" itemLabel="--- bitte wählen ---" />
            <f:selectItems value="#{campadminModel.documents}" var="d" itemValue="#{d.pk}" itemLabel="#{d.name}" />
          </b:selectOneMenu>
          <h:outputText value="Verantwortlicher" />
          <b:selectOneMenu value="#{campadminModel.camp.fkProfile}" required="true"
            requiredMessage="Bitte das Feld Verantwortlicher ausfüllen.">
            <f:selectItem itemValue="" itemLabel="--- bitte wählen ---" />
            <f:selectItems value="#{campadminModel.profiles}" var="p" itemValue="#{p.pk}" itemLabel="#{p.fullname}" />
          </b:selectOneMenu>
          <h:outputText value="Kassenschluss" rendered="#{!campadminModel.camp.lockSales}" />
          <b:dropButton value="Rechnungen abschließen" iconAwesome="lock" look="warning"
            rendered="#{!campadminModel.camp.lockSales}">
            <b:commandButton action="#{campadminController.doLockSales}" value="ja, endgültig Rechnungen festschreiben"
              look="warning" />
          </b:dropButton>
          <b:dropButton value="löschen" iconAwesome="trash-o" look="danger">
            <b:commandButton action="#{campadminController.doDeleteCamp}" value="ja, unwiederbringlich löschen" look="danger" />
          </b:dropButton>
          <b:commandButton action="#{campadminController.doUpsertCamp}" value="Übernehmen" look="primary" />
        </b:panelGrid>
      </b:form>
    </b:tab>
    <b:tab title="Dokumente">
      <b:form rendered="#{campadminModel.campPk != null}">
        <b:alert severity="info">Freizeit <h:outputText value="#{campadminModel.campPk}" />
        </b:alert>
        <b:dataTable value="#{campadminModel.campDocuments}" var="d">
          <b:dataTableColumn label="Name">
            <b:commandButton action="#{campadminController.toEditDocument(d.pk)}" value="#{d.name}" look="link" />
          </b:dataTableColumn>
          <b:dataTableColumn label="Aktionen">
            <b:commandButton action="#{campadminController.doDownloadDocument(d)}" value="" iconAwesome="download" />
            <b:commandButton action="#{campadminController.doRemoveDocumentFromCamp(d)}" value="" iconAwesome="trash"
              look="danger" style="margin-left: 32px" />
          </b:dataTableColumn>
        </b:dataTable>
        <b:alert severity="info">Es können nur Dokumente verwendet werden, die den Dokumententyp camp haben.</b:alert>
        <b:panelGrid colSpans="9,3" size="xs">
          <b:selectOneMenu value="#{campadminModel.documentPk}" styleClass="filterdropdown">
            <f:selectItems value="#{campadminModel.noncampDocuments}" var="d" itemValue="#{d.pk}"
              itemLabel="#{d.name} #{d.filetype.literal}" />
          </b:selectOneMenu>
          <b:commandButton action="#{campadminController.doAddDocumentToCamp}" value="hinzufügen" look="success" />
        </b:panelGrid>
      </b:form>
      <b:alert severity="info" rendered="#{campadminModel.campPk == null}">Bitte über Reiter Tabelle -> Dokumente -> verwalten eine Freizeit auswählen!</b:alert>
    </b:tab>
  </b:tabView>
</ui:composition>
</html>