<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:b="http://bootsfaces.net/ui" xmlns:ui="http://java.sun.com/jsf/facelets">
<ui:composition>
	<b:tabView activeIndex="#{campadminModel.activeIndexDocument}">
		<b:tab title="Tabelle">
			<b:form>
				<b:dataTable value="#{campadminModel.documents}" var="d" lang="de">
					<b:dataTableColumn label="ID">
						<b:commandButton action="#{campadminController.toEditDocument(d.pk)}" value="#{d.pk}" look="link" />
					</b:dataTableColumn>
					<b:dataTableColumn label="Name">
						<b:commandButton action="#{campadminController.toEditDocument(d.pk)}" value="#{d.name}" look="link" />
					</b:dataTableColumn>
					<b:dataTableColumn label="Dokumententyp">
						<b:commandButton action="#{campadminController.toEditDocument(d.pk)}" value="#{d.doctype.literal}" look="link" />
					</b:dataTableColumn>
					<b:dataTableColumn label="Zielgruppen">
						<b:selectMultiMenu value="#{d.roles}" disabled="true">
							<f:selectItem itemValue="student" itemLabel="Teilnehmer" />
							<f:selectItem itemValue="teacher" itemLabel="Mitarbeiter" />
							<f:selectItem itemValue="director" itemLabel="Leiter" />
							<f:selectItem itemValue="feeder" itemLabel="Küche" />
						</b:selectMultiMenu>
					</b:dataTableColumn>
					<b:dataTableColumn label="Inhalt">
						<b:commandButton action="#{campadminController.doDownloadDocument(d)}" value="" iconAwesome="download" link="look" />
					</b:dataTableColumn>
					<b:dataTableColumn label="Dateityp">
						<b:commandButton action="#{campadminController.toEditDocument(d.pk)}" value="#{d.filetype.literal}" look="link" />
					</b:dataTableColumn>
				</b:dataTable>
			</b:form>
		</b:tab>
		<b:tab title="Element">
			<b:form enctype="multipart/form-data">
				<b:panelGrid colSpans="3,9" size="xs">
					<h:outputText value="ID = #{campadminModel.document.pk}" />
					<b:commandButton action="#{campadminController.doResetDocument}" value="Felder leeren" />
					<h:outputText value="Name" />
					<b:inputText value="#{campadminModel.document.name}" />
					<h:outputText value="Dokumententyp" />
					<b:selectOneMenu value="#{campadminModel.document.doctype}">
						<f:selectItem itemValue="" itemLabel="--- bitte wählen ---" />
						<f:selectItems value="#{campadminModel.enumlistDoctype}" var="e" itemValue="#{e}" itemLabel="#{e.literal}" />
					</b:selectOneMenu>
					<h:outputText value="Inhalt" />
					<h:inputFile value="#{campadminModel.document.uploadfile}" style="padding-bottom: 16px" />
					<h:outputText value="Dateityp" />
					<b:selectOneMenu value="#{campadminModel.document.filetype}">
						<f:selectItem itemValue="" itemLabel="--- bitte wählen ---" />
						<f:selectItems value="#{campadminModel.enumlistFiletype}" var="e" itemValue="#{e}" itemLabel="#{e.literal}" />
					</b:selectOneMenu>
					<h:outputText value="Zielgruppen" />
					<b:selectMultiMenu value="#{campadminModel.document.roles}">
						<f:selectItem itemValue="student" itemLabel="Teilnehmer" />
						<f:selectItem itemValue="teacher" itemLabel="Mitarbeiter" />
						<f:selectItem itemValue="director" itemLabel="Leiter" />
						<f:selectItem itemValue="feeder" itemLabel="Küche" />
					</b:selectMultiMenu>
					<b:dropButton value="löschen" iconAwesome="trash-o" look="danger">
						<b:commandButton action="#{campadminController.doDeleteDocument}" value="ja, unwiederbringlich löschen" look="danger" />
					</b:dropButton>
					<b:commandButton action="#{campadminController.doUpsertDocument}" value="Übernehmen" look="primary" />
				</b:panelGrid>
			</b:form>
		</b:tab>
	</b:tabView>
</ui:composition>
</html>