<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:b="http://bootsfaces.net/ui">
<h:body>
	<ui:composition template="/pages/template.xhtml">
		<ui:define name="content">
			<b:panel rendered="#{profileBean.hasRole('campadmin')}" title="Freizeitadministration" collapsible="false">
				<b:alert severity="info" closable="true">
					<h:outputText value="Der RSS-Feed des Freizeitadministrators lautet: " />
					<b:navLink href="https://www.onkelwernerfreizeiten.de/camporganizer/rss.jsf?recipientCode=campadmin" target="#"
						value="https://www.onkelwernerfreizeiten.de/camporganizer/rss.jsf?recipientCode=campadmin" iconAwesome="rss" />
				</b:alert>
				<b:tabView activeIndex="#{campadminModel.activeIndex}">
					<b:tab title="Freizeitheime" styleClass="dist16">
						<ui:include src="location.xhtml" />
					</b:tab>
					<b:tab title="Freizeiten" styleClass="dist16">
						<ui:include src="camp.xhtml" />
					</b:tab>
					<b:tab title="Dokumente" styleClass="dist16">
						<ui:include src="document.xhtml" />
					</b:tab>
					<b:tab title="Mitarbeiter" styleClass="dist16">
						<ui:include src="campprofile.xhtml" />
					</b:tab>
				</b:tabView>
			</b:panel>
		</ui:define>
	</ui:composition>
</h:body>
</html>