<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:b="http://bootsfaces.net/ui">
<h:body>
  <p>Es ist ein allgemeiner Fehler aufgetreten, der die Sitzung ungültig gemacht hat. Bitte melden Sie sich erneut an.</p>
	<a href="login.jsf">zum Login</a>
</h:body>
</html>